@model EmployeeManager.ViewModels.HomeDetailsViewModel

@{ 
    ViewBag.Title = Model.pageTitle;
}

<h3>@Model.pageTitle</h3>
<div>
    Name : @Model.employee.Name
</div>
<div>
    Email : @Model.employee.Email
</div>
<div>
    Department : @Model.employee.Department
</div>
@section Script{ 
    <script src="~/js/CustomScript.js"></script>
}