<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body class="container">
    <div>
        @RenderBody()
    </div>
    @if (IsSectionDefined("Script"))
    {
        RenderSection("Script", required: true);
    }
</body>
</html>
